body{
   font-family: calibri;
}

table, th, td{
    border-style: solid;
    border-width: 1px;
    border-color: black;  
}

th,td{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

thead{
    background-color: lightsteelblue;
}

h1{
    font-weight: bold;
}

.align{
    text-align: center;
}

