/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-04-2016, 19:03:00
    Author     : Jmach
*/

body{
   /*background-color: #009FE3;*/
}

table, th, td{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}

th,td{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

h1{
    font-weight: bold;
}

